@import "compass/css3";

* {
  box-sizing: border-box;
}

body {
  /* padding: 3em; */
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #f0f0f0;
  text-align: center;
}

.dates-wrapper {
  /* background: #f0f0f0; */
  padding: 1em 1em 0 1em;
  display: inline-block;
}

.input-text {
  background-color: #f0f0f0;
  padding: 2px 10px;
  color: #333;
  border: 1px solid #dddddd;
  outline: none;
  vertical-align: middle;
  height: 36px;
  /* border-radius: 0; */
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;

  border-radius:0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.date-wrapper {
  position: relative;
  margin: 0 6px 10px 6px;
  display: inline-block;
  .label {
    float: left;
    display: inline-block;
    margin-right: 28px;
    padding-top: 10px;
  }
  .input {
    font-size: 15px;
    color: #333;
    max-width: 172px;
    float: left;
    margin-right: 10px;
    input {
      float: left;
      width: 100%;
      padding: 2px 10px;
    }
  }
  .calendar-btn {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    float: left;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/icon-calendar-72x72.png);
    background-repeat: no-repeat;
    background-size: 36px 36px;
  }
}

.pika-single {
  position: absolute;
  top: 40px;
  left: 0px;
  .pika-title {
    color: #444;
  }
  .is-selected .pika-button {
    border-radius: 0;
    box-shadow: none;
    background: #ec0000;
  }
  .pika-table tbody td {
    border: 1px solid #b9b9b9;
  }
  .pika-button:hover {
    border-radius: 0 !important;
    box-shadow: none !important;
    background: #868686 !important;
  }
  .is-today .pika-button {
    color: #ec0000;
  }
  .is-today.is-selected .pika-button {
    color: #fff;
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
